.navbar {
  padding: 15px 10px;
  background: #1d2528;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.navbar .btnSiderBar {
  background: transparent;
  border-color: transparent;
}
.btnMenu {
  background: transparent;
  font-size: 20px;
  color:white;
  border-color: transparent;
}

#sidebar {
  min-width: 270px;
  max-width: 270px;
  background: #161b1e;
  color: #fff;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#sidebar.active {
  /* margin-left: -270px;
   */
  min-width: 80px;
  max-width: 80px;
  text-align: center;
}
#sidebar.active ul.components li {
  font-size: 14px;
}
#sidebar.active ul.components li a {
  padding: 10px 0;
}
#sidebar.active ul.components li a span {
  margin-right: 0;
  display: block;
  font-size: 18px;
}
#sidebar.active .logo {
  padding: 10px 0;
  display: none;
}

#sidebar.active .footer {
  display: none;
}
#sidebar .logo {
  display: block;
  color: #fff;
  font-weight: 500;
  padding: 10px 30px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
}

#sidebar .logo:hover{
  color: #55efc4;
}
@media (prefers-reduced-motion: reduce) {
  #sidebar .logo {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
#sidebar ul.components {
  padding: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (prefers-reduced-motion: reduce) {
  #sidebar ul.components {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
#sidebar ul li {
  font-size: 16px;
}
#sidebar ul li:hover {
  font-size: 18px;
}

#sidebar .active a:hover {
  color: #55efc4;
}
#sidebar ul li > ul {
  margin-left: 10px;
}
#sidebar ul li > ul li {
  font-size: 14px;
}
#sidebar ul li a {
  padding: 10px 30px;
  display: block;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
#sidebar ul li a span {
  margin-right: 15px;
}
@media (max-width: 991.98px) {
  #sidebar ul li a span {
    display: block;
  }
}
#sidebar ul li a:hover {
  color: #55efc4;
  text-decoration: none;
}

#sidebar ul li.active > a {
  background: transparent;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 991.98px) {
  #sidebar {
    min-width: 80px;
    max-width: 80px;
    /* margin-left: -270px; */
    text-align: center;
    margin-left: -80px !important;
  }
  #sidebar.active {
    margin-left: 0 !important;
  }
 
}

a[data-toggle="collapse"] {
  position: relative;
}

a {
  text-decoration: none;
  background-color: transparent;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 10%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@media (max-width: 991.98px) {
  #sidebarCollapse span {
    display: none;
  }
}

.footer {
  padding: 0 30px;
}
@media (max-width: 991.98px) {
  .footer {
    display: none;
  }
}
