<%- include('includes/head.ejs') %>
<link href="/css/404style.css" rel="stylesheet" />
</head>

<body class="colorlib-body">

    <div id="colorlib-notfound">
        <div class="colorlib-notfound">
            <div class="colorlib-notfound-404">
                <h1>Oops!</h1>
            </div>
            <br>
            <h2 id="colorlib_404_customizer_page_heading">404 - PAGE NOT FOUND</h2>
            <p id="colorlib_404_customizer_content">The pages you are looking for might have been removed
                had it name changed or is temporarily unavalible.
            </p>
            <a href="/" id="colorlib_404-customizer_button_text">GO TO HOMEPAGE</a>
        </div>
        <p class="colorlib-copyright"><span></a></p>

    </div>

    <% include('includes/end.ejs') %>