<%- include('includes/head.ejs') %>

</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <main>
      <%- include('includes/beadcrumb.ejs') %>
        <div class="text-center">
            <div class="card">
                <div class="card-header">
                    Add New Product
                </div>
                <div class="card-body"> 
                    <form method="POST" action="/add-product">
                        <div class="form-group row">
                          <label for="inputPassword" class="col-sm-2 col-form-label">Product Name</label>
                          <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputPassword" name="productName">
                          </div>
                        </div>
                        <div class="form-group row">
                            <label for="thumbNail" class="col-sm-2 col-form-label">Thumbnail Url</label>
                            <div class="col-sm-10">
                              <input type="text" class="form-control" id="thumbNail" name="imgUrl">
                            </div>
                          </div>
                        <button type="submit" class="btn btn-primary mb-2">Add Product</button>
                      </form>
                </div>
            </div>
        </div>
    </main>

    <%- include('includes/end.ejs') %>